@font-face {
  font-family: "Museo Sans Rounded";
  src: url("../../../assets/fonts/MuseoSansRounded-500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Rounded Bold";
  src: url("../../../assets/fonts/MuseoSansRounded-700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
